// This import applies a global reset to any page that imports this stylesheet.
@import blueprint/reset.sass
// To configure blueprint, edit the partials/base.sass file.
@import partials/base.sass
// Import all the default blueprint modules so that we can access their mixins.
@import blueprint
// Import the non-default scaffolding module.
@import blueprint/modules/scaffolding.sass
// To generate css equivalent to the blueprint css but with your configuration applied, uncomment:
+blueprint

//Recommended Blueprint configuration with scoping and semantic layout:
+blueprint-typography("body.bp")
+blueprint-scaffolding("body.bp")
body.bp
	background: 
		image = image_url("/images/storebotBG.png")
	+blueprint-utilities
	+blueprint-debug
	+blueprint-interaction
	#header
		margin-top: 30px
		padding-bottom: 15px
		background:
			image = image_url("/images/frame_top2.png")
			repeat: no-repeat
			position: bottom
		#top-nav
			padding-top: 45px
			height: 45px
			img.tab
				margin-left: 17px
			img.cart
				margin-left: 55px
	#main
		#content-background
			min-height: 400px
			background:
				image = image_url("/images/frame_middle.png")	
		#content
			padding-top: 10px
	#footer-background
		padding-top: 40px
		text-align: center
		background:
			image = image_url("/images/frame_bottom.png")
			repeat: no-repeat
